
//
// VARIABLES
//

// Colors
$blue: #7D98A1;

// Grays
$black: #1C2321;
$darkGray: #5E6572;
$gray: #A9B4C2;
$white: #FDFDFD;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
